<%= render "shared/header" %>
<div class="flex flex-col w-full min-h-screen justify-center my-1.5">
  <div class="flex-grow">
    <div class="overflow-x-full">
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr class="gird-template-columns: 50% repeat(2, 1fr)" ;="" style="display: grid; grid-template-columns: 50% repeat(2, 1fr);">
            <th width>sentence</th>
            <th>book</th>
            <th>author</th>
          </tr>
        </thead>
        <tbody>
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <tr class="hover gird-template-columns: 50% repeat(2, 1fr)" ;="" style="display: grid; grid-template-columns: 50% repeat(2, 1fr);">
                <td class="truncate"><%= link_to post.transcribed_text, post_path(post) %></td>
                <td class="truncate"><%= post.book %></td>
                <td class="truncate"><%= post.author %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-center my-3">
        <div class="join">
          <input class="join-item btn btn-square" type="radio" name="options" aria-label="1" checked />
          <input class="join-item btn btn-square" type="radio" name="options" aria-label="2" />
          <input class="join-item btn btn-square" type="radio" name="options" aria-label="3" />
          <input class="join-item btn btn-square" type="radio" name="options" aria-label="4" />
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
