<%= render "shared/header" %>
<div class="flex flex-col w-full min-h-screen justify-center my-1.5">
  <div class="flex-grow">
    <div class="overflow-x-full">
      <table class="table w-full">
        <!-- head -->
        <div class="my-5 mb-5">
          <%= search_form_for @q, url: posts_path, method: :get, class: "flex justify-center" do |f| %>
            <div class="flex justify-center">
              <%= f.search_field :transcribed_text_cont, class: "input input-bordered w-96 mx-0.5", placeholder: "文章" %>
              <%= f.search_field :book_cont, class: "input input-bordered w-96 mx-0.5", placeholder: "書籍名" %>
              <%= f.search_field :author_cont, class: "input input-bordered w-96 mx-0.5", placeholder: "著者名" %>
              <%= f.submit "検索", class: "btn btn-primary mx-1" %>
            </div>
          <% end %>
        </div>
        <thead>
          <tr class="gird-template-columns: 40% repeat(4, 1fr)" ;="" style="display: grid; grid-template-columns: 40% repeat(4, 1fr);">
            <th width>sentence</th>
            <th>book</th>
            <th>author</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <tr class="hover gird-template-columns: 40% repeat(4, 1fr)" ;="" style="display: grid; grid-template-columns: 40% repeat(4, 1fr);">
                <td class="truncate"><%= link_to post.transcribed_text, post_path(post) %></td>
                <td class="truncate"><%= post.book %></td>
                <td class="truncate"><%= post.author %></td>
                <td class="flex justify-end">
                  <%= link_to "編集", edit_post_path(post), class: "btn btn-sm btn-secondary mx-1" %>
                  <%= link_to "削除", post_path(post), data: { "turbo-method": :delete, turbo_confirm: "削除しますか" }, class: "btn btn-sm btn-danger mx-1" %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-center my-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
