<%= render 'shared/header' %>
<div class="flex flex-col min-h-screen justify-center my-1.5">
  <%= form_with model:@post do |f| %>
    <div class="form-comtrol w-full max-w-lg">
      <%= f.label :'画像選択', class: "label-text" %>
      <%= f.file_field :text_image %>
      <%= f.hidden_field :text_image_cache %>
      <%= f.submit '読込開始', class: "row btn btn-primary" %>
    </div>
    <div class="form-comtrol w-full max-w-lg">
      <%= f.label :'テキスト編集', class: "label-text" %>
      <%= f.text_area :sentence, class: "textarea textarea-primary" %>
    </div>
    <div class="form-comtrol w-full max-w-lg">
      <%= f.label :'本のタイトル', class: "label-text" %>
      <%= f.text_field :book, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
    <div class="form-comtrol w-full max-w-lg">
      <%= f.label :'著者', class: "label-text" %>
      <%= f.text_field :author, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>
  <% end %>
</div>
<%= render 'shared/footer' %>