<%= render "shared/header" %>
<div class="flex flex-col min-h-screen my-1.5 m-auto w-full">
    <div class="text-right mx-12">
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-s w-32" %>
      <%= link_to "削除", post_path(@post), data: { "turbo-method": :delete, turbo_confirm: "削除しますか" }, class: "btn btn-danger btn-s w-32" %>
    </div>
    <div class="mx-12">
      <div class="my-5">
        <span class="label-text">テキスト</span>
        <div class="textarea textarea-bordered">
          <% @post.transcribed_text.split("\n").each do |line| %>
            <%= content_tag :br, line, class: 'text-center' %>
          <% end %>
        </div>
      </div>
      <div class="my-5">
        <span class="label-text">書籍名</span>
        <div class="textarea textarea-bordered h-12">
          <%= @post.book %>
        </div>
      </div>
      <div class="my-5">
        <span class="label-text">著者名</span>
        <div class="textarea textarea-bordered h-12">
          <%= @post.author %>
        </div>
      </div>
      <div class="my-5">
        <span class="label-text">説明</span>
        <div class="textarea textarea-bordered h-32">
          <%= @post.description %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>