<%= render "shared/header" %>
<div class="flex flex-col w-full min-h-screen justify-center my-1.5">
  <div class="col-md-10 col-lg-8 mx-auto text-center">
    <div class="my-1.5">
  <div class="textarea textarea-bordered h-60 w-8/12 my-5">
    <%= @post.transcribed_text %>
  </div>
  <div class="textarea textarea-bordered h-24 w-8/12 my-5">
    <%= @post.book %>
  </div>
  <div class="textarea textarea-bordered h-24 w-8/12 my-5">
    <%= @post.author %>
  </div>
  <div class="textarea textarea-bordered h-60 w-8/12 my-5">
    <%= @post.description %>
  </div>
</div>
  </div>
</div>
<%= render "shared/footer" %>